.page-font{
    font-family: "Raleway", sans-serif
}

#page-body{
    min-height: 100%;
    background-size: cover;
    background-image: url("../images/devmingler-bliss-background.jpeg");
}

.w3-hover-opacity{
    cursor: pointer;
}

.logo-guess{
    width: 50%;
}

.logo-guess-container{
    width:20%;
    text-align: center;
}

.winner-input{
    background-color: #60F08A;
    border: none;
}